In [1]:
#methods
mylist = []

mylist.insert(0,3)
mylist

[3]

In [4]:
#functions-blocks of code that can be executed many times

def name_of_function(name):
    '''
    comment of the function
    '''
    print("hello " + name)
name_of_function("Jose")

hello Jose

In [5]:
def add(num1,num2):
    return num1+num2

result = add(1,3)
print(result)

4

In [7]:
def say_hello():
    print("hello")
    print("how are you")
    print("Welcome")

say_hello()

hello
how are you
Welcome

In [8]:
say_hello()

hello
how are you
Welcome

In [9]:
def say_hello(name="default"):
    print(name)

say_hello()

default

In [10]:
def print_result(a,b):
    print(a+b)

def return_result(a,b):
    return a+b

In [14]:
return1 = print_result(1,2)

3

In [15]:
return1

In [16]:
return2 = return_result(1,2)

In [17]:
return2

3

In [18]:
return3 = return_result('1','2')

In [19]:
return3

'12'

In [20]:
#logic with python funtions
def even_check(number):
    result = (number % 2 == 0)
    return(result)

In [21]:
even_check(20)

True

In [22]:
even_check(23)

False

In [28]:
#return true if any number is even inside a list

def check_even_list(num_list):
    for no in num_list:
        if no %2==0:
            return True
        else:
            pass
    return False

In [29]:
check_even_list([1,2,3,4])

True

In [30]:
check_even_list([9,7,5])

False

In [34]:
#return all even numbers inside a list
even_no = []
def check_even_list(num_list):
    for no in num_list:
        if no %2==0:
            even_no.append(no)
        else:
            pass
    return even_no

In [32]:
check_even_list([1,2,3,4])

[2, 4]

In [35]:
check_even_list([9,7,5])

[]

In [36]:
#Tuples and functions
stock_prices = [('apple',200),('google',250),('msft',100)]

In [37]:
for item in stock_prices:
    print(item)

('apple', 200)
('google', 250)
('msft', 100)

In [38]:
for ticker,price in stock_prices:
    print(ticker)
    print(price)

apple
200
google
250
msft
100

In [43]:
work_hours = [('Abby',100),('Cassy',800),('Billy',3000)]

In [44]:
def employee_check(work_hours):
    current_max = 0
    employee_of_month = ''

    for employee,hours in work_hours:
        if hours > current_max:
            current_max =hours
            employee_of_month = employee
        else:
            pass

    return(employee_of_month,current_max)

In [45]:
employee_check(work_hours)

('Billy', 3000)

In [46]:
name,hours = employee_check(work_hours)

In [47]:
name

'Billy'

In [48]:
hours

3000

In [49]:
#interactions between functions
example = [1,2,3,4,5]

from random import shuffle

In [50]:
shuffle(example)

example

[2, 4, 3, 1, 5]

In [51]:
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [55]:
result = shuffle_list(example)
result

[2, 4, 3, 5, 1]

In [53]:
result

[1, 2, 4, 3, 5]

In [56]:
#game where ball present in the three cups
mylist =[' ', 'O',' ']

In [58]:
shuffle_list(mylist)

['O', ' ', ' ']

In [59]:
def player_guess():
    guess = ''

    while guess not in ['0','1','2']:
        guess = input("Pick a number 0 or 1 or 2: ")

    return int(guess)

In [60]:
player_guess()

Pick a number 0 or 1 or 2:  4
Pick a number 0 or 1 or 2:  2

2

In [62]:
myindex= player_guess()
myindex

Pick a number 0 or 1 or 2:  2

2

In [63]:
def check_guess(mylist,guess):
    if mylist[guess] == 'O':
        print("Correct")
    else:
        print("Wrong Guess")
        print(mylist)

In [67]:
#initial list
mylist =[' ', 'O',' ']

#shuffle the list

mixed_list = shuffle_list(mylist)

#users guess
guess = player_guess()

#check the guess

check_guess(mixed_list,guess)

Pick a number 0 or 1 or 2:  0

Correct

In [71]:
#args and kwargs in python

def myfunc(a,b,c=0,d=0):
    #return 5% of sum of a and b
    return sum((a,b,c,d)) * 0.05

myfunc(40,60,50,60)

10.5

In [72]:
def myfunc(*args): #tuples
    return sum(args)*0.05

myfunc(1,4,5)

0.5

In [73]:
myfunc(3,50,70,5,7,8)

7.15

In [74]:
def myfunc(*args):
    for item in args:
        print(item)
myfunc(10,20,30,40)

10
20
30
40

In [77]:
def myfuc(**kwargs): #dictionary
    print(kwargs)
    if 'fruit' in kwargs:
        print('My fruit choice us {}'.format(kwargs['fruit']))
    else:
        print("I did not find any fruit here")

In [78]:
myfuc(fruit='apple',veggie='carrot')

{'fruit': 'apple', 'veggie': 'carrot'}
My fruit choice us apple

In [80]:
def myfunc(*args,**kwargs):
    print(args)
    print(kwargs)
    print("I like {} {}".format(args[0],kwargs['food']))

In [81]:
myfunc(10,20,30,food='eggs',fruit='apple')

(10, 20, 30)
{'food': 'eggs', 'fruit': 'apple'}
I like 10 eggs

In [101]:
def myfunc(name):
    mylist = []
    for x in name:
        mylist.append(x)
    a=0
    while True:
        if a%2 == 0:
            if mylist[a] == mylist[-1]:
                mylist[a] = mylist[a].upper()
            else:
                mylist[a] = mylist[a].upper()
                a += 1
                continue
        elif a%2 !=0:
            if mylist[a] == mylist[-1]:
                mylist[a] = mylist[a].lower()
            else:
                mylist[a] = mylist[a].lower()
                a +=1
                continue
        
        break
    return mylist

In [102]:
result = myfunc('priya')
result

['P', 'r', 'I', 'y', 'A']

In [108]:
#map function
def square(num):
    return num**2

my_nums = [1,2,3,4,5]

for item in map(square,my_nums):
    print(item)

1
4
9
16
25

In [109]:
def splicer(mystring):
    if len(mystring)%2==0:
        return 'Even'
    else:
        return mystring[0]

names= ['andy','eve','sally']

list(map(splicer,names))

['Even', 'e', 's']

In [110]:
#filter function
def check_even(num):
    return num%2==0

mynums =[1,2,3,4,5,6]

list(filter(check_even,mynums))

[2, 4, 6]

In [111]:
for n in filter(check_even,mynums):
    print(n)

2
4
6

In [116]:
#lambda expression
square = lambda num: num ** 2

In [117]:
square(3)

9

In [118]:
list(map(lambda num: num ** 2,mynums))

[1, 4, 9, 16, 25, 36]

In [119]:
names

['andy', 'eve', 'sally']

In [121]:
list(map(lambda name: name[::-1],names))

['ydna', 'eve', 'yllas']

In [122]:
#nested statements
x = 25

def printer():
    x = 50
    return x

In [123]:
print(x)

25

In [124]:
print(printer())

50

In [126]:
#lambda num: num**2 #num local variable to lambda function

In [130]:
name = "This is a global string"

def greet():
    name ='Sammy'
    def hello():
        print ('Hello '+name)
    hello()

greet()

Hello Sammy

In [131]:
name = "This is a global string"

def greet():
    #name ='Sammy'
    def hello():
        print ('Hello '+name)
    hello()

greet()

Hello This is a global string

In [132]:
name = "This is a global string"

def greet():
    name ='Sammy'
    def hello():
        name = 'I am local'
        print ('Hello '+name)
    hello()

greet()

Hello I am local

In [135]:
x =50
def func(x):
    print(f'X is {x}')
    x=100
    print(f'X is now {x}')

In [136]:
func(x)

X is 50
X is now 100

In [137]:
print(x)

50

In [144]:
x =50
def func():
    global x
    print(f'X is {x}')
    x=100
    print(f'X is now {x}')

In [146]:
func()

X is 50
X is now 100

In [147]:
print(x)

100