Section 4- Python Comparison Operators

In [1]:
2 == 2

True

In [2]:
2 == 1

False

In [3]:
'hello' == 'Hello'

False

In [4]:
'2' == 2

False

In [5]:
2.0 == 2

True

In [ ]:
3 != 3

False

In [7]:
4 != 5

True

In [8]:
2 > 1

True

In [9]:
1>3

False

In [10]:
1<5

True

In [11]:
2<1

False

In [12]:
2>=2

True

In [13]:
3 <= 1

False

In [14]:
#chaining comparison operators
#and,or,not
(1 < 2) and (2<3)

True

In [15]:
1<2<3

True

In [16]:
1 > 2 <3

False

In [17]:
(2==2) or (1>3)

True

In [18]:
not (2==2)

False

Section 5 Pyton statements

In [19]:
if 4 > 3:
    print("True")
else:
    print("False")

True

In [20]:
hungry = True

if hungry:
    print("Feed Me")
else:
    print("Im not hungry")

Feed Me

In [21]:
loc = 'Bank'

if loc == 'notbank':
    print("Cars are cool")
elif loc =='Bank':
    print("You are in right place")
else:
    print("Wrong place")

You are in right place

In [22]:
my_items = [1,2,3]
for x in my_items:
    print(x)

1
2
3

In [23]:
for x in my_items:
    print("hello")

hello
hello
hello

In [24]:
for item in my_items:
    if item%2==0:
        print("Number is even")
    else:
        print("Number is odd")

Number is odd
Number is even
Number is odd

In [29]:
mylist = [1,2,3,4,5,6,7]
list_sum = 0
for num in mylist:
    list_sum = list_sum + num
    print(list_sum)
print(f"The final number is : {list_sum}")

1
3
6
10
15
21
28
The final number is : 28

In [30]:
for x in 'Hello world':
    print(x)

H
e
l
l
o

w
o
r
l
d

In [31]:
tup = (1,2,3)
for item in tup:
    print(item)

1
2
3

In [32]:
mylist = [(1,2),(3,4),(5,6),(7,8)]
len(mylist)

4

In [ ]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [35]:
for (a,b) in mylist:
    print(a)
    print(b)
#tuple unpacking -access individual tuple items in the list

1
2
3
4
5
6
7
8

In [37]:
for a,b in mylist:
    print(b)

2
4
6
8

In [38]:
d = {'k1':1,'k2':2}
for item in d:
    print(item)

k1
k2

In [40]:
for key,value in d.items():
    print(value)

1
2

In [5]:
#while loop
x = 0 

while x < 5:
    print (f"The current value is x is {x}")
    x = x + 1
# x += 1 same as x = x+1
else:
    print("X is not less than 5")

The current value is x is 0
The current value is x is 1
The current value is x is 2
The current value is x is 3
The current value is x is 4
X is not less than 5

In [7]:
mystring = 'sammy'

for letter in mystring:
    print(letter)

s
a
m
m
y

In [1]:
mystring = 'sammy'
for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

s
m
m
y

In [2]:
mystring = 'sammy'
for letter in mystring:
    if letter == 'a':
        break
    print(letter)

s

In [4]:
x = 0
while x < 5:
    print(f"The current value of x is {x}")
    x += 1
    if x == 2:
        break

The current value of x is 0
The current value of x is 1

In [5]:
if x == 0:
    pass

In [6]:
#useful operators
mylist = [1,2,3,4,5]
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [7]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [8]:
index_count = 0

for letter in 'abcde':
    print(f"At index {index_count} the letter is {letter}")
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [9]:
index_count = 0
word = 'abcde'
for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [2]:
word = 'abcde'

for index,item in enumerate(word):
    print(item)
    print(index)
    print('\n')

a
0


b
1


c
2


d
3


e
4

In [6]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]
#zip does the shortest list count here all are same of 3 items in list
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [7]:
'X' in [1,2,3]

False

In [8]:
'x' in ['x','y']

True

In [9]:
'a' in 'a world'

True

In [10]:
'mykey' in {'mykey':[1,2,3]}

True

In [13]:
d = {'mykey':[1,2,3]}
'mykey' in d.keys()

True

In [14]:
mylist = [10,20,30,40,50]
min(mylist)

10

In [15]:
max(mylist)

50

In [17]:
from random import shuffle

In [18]:
mylist = [1,2,3,4,5]
shuffle(mylist)
print(mylist)

[4, 3, 1, 5, 2]

In [19]:
from random import randint
randint(0,100)

98

In [20]:
randint(2,6)

5

In [21]:
mynum=randint(10,100)
mynum

49

In [22]:
input("Enter the number here: ")

Enter the number here:  4

'4'

In [24]:
num = input("Enter the number here: ")
print(f"The number is {num}")

Enter the number here:  5

The number is 5

In [25]:
type(num)

str

In [28]:
float(num)

5.0

In [29]:
num = int(input("Enter the number here: "))
print(f"The number is {num}")

Enter the number here:  8

The number is 8

In [30]:
type(num)

int

In [31]:
#list comprehensions
mystring = 'hello'

mylist = []

for letter in mystring:
    mylist.append(letter)

mylist

['h', 'e', 'l', 'l', 'o']

In [32]:
mylist1 = [letter for letter in mystring]

mylist1

['h', 'e', 'l', 'l', 'o']

In [33]:
mylist3 = [x for x in 'word']

mylist3

['w', 'o', 'r', 'd']

In [37]:
mylist = [x**x for x in range(0,11)]

In [38]:
mylist

[1, 1, 4, 27, 256, 3125, 46656, 823543, 16777216, 387420489, 10000000000]

In [39]:
mylist = [x for x in range(0,4) if x%2==0]

mylist

[0, 2]

In [40]:
results = [x if x%2 == 0 else 'OOD' for x in range(0,11)]

In [41]:
results

[0, 'OOD', 2, 'OOD', 4, 'OOD', 6, 'OOD', 8, 'OOD', 10]

In [44]:
#nested loop
mlist = []

for x in [2,4,6]:
    for y in [1,10,100]:
        mlist.append(x*y)
mlist

[2, 20, 200, 4, 40, 400, 6, 60, 600]